# Python
venv
__pycache__
.pyc
*.log
*.pot

# Ruby
/rails/modular_monolith/.bundle

/rails/modular_monolith/log/*
/rails/modular_monolith/tmp/*
!/rails/modular_monolith/log/.keep
!/rails/modular_monolith/tmp/.keep

/rails/modular_monolith/storage/*
!/rails/modular_monolith/storage/.keep

/rails/modular_monolith.byebug_history

/rails/modular_monolith/config/master.key

# Laravel
/laravel/modular_monolith/node_modules
/laravel/modular_monolith/public/hot
/laravel/modular_monolith/public/storage
/laravel/modular_monolith/storage/*.key
/laravel/modular_monolith/vendor
/laravel/modular_monolith/.env
/laravel/modular_monolith/.phpunit.result.cache
/laravel/modular_monolith/Homestead.json
/laravel/modular_monolith/Homestead.yaml
/laravel/modular_monolith/npm-debug.log
/laravel/modular_monolith/yarn-error.log

# Spring
/spring/modular_monolith/HELP.md
/spring/modular_monolith/target/
!/spring/modular_monolith/.mvn/wrapper/maven-wrapper.jar

### STS ###
/spring/modular_monolith/.apt_generated
/spring/modular_monolith/.classpath
/spring/modular_monolith/.factorypath
/spring/modular_monolith/.project
/spring/modular_monolith/.settings
/spring/modular_monolith/.springBeans
/spring/modular_monolith/.sts4-cache

### IntelliJ IDEA ###
/spring/modular_monolith/.idea
/spring/modular_monolith/*.iws
/spring/modular_monolith/*.iml
/spring/modular_monolith/*.ipr

### NetBeans ###
/spring/modular_monolith/nbproject/private/
/spring/modular_monolith/nbbuild/
/spring/modular_monolith/dist/
/spring/modular_monolith/nbdist/
/spring/modular_monolith/.nb-gradle/
/spring/modular_monolith/build/

### VS Code ###
/spring/modular_monolith/.vscode/
